<footer class="footer mt auto py-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-lg-8"></div>
            <p class="copyright-text">Creado por Alfonso Riaño y Jorge Moncada &copy; Misión TIC 2021 grupo 21</p>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-4">
        <ul class="social-icons">
            <li>
                <a class="github" href="https://github.com/GeorgeMonS/ServisurAngularReto4.git">
                    <i class="fa fa-github"></i> Repositorio Github
                </a>
            </li>
        </ul> 
    </div>
</footer>
